.Rproj.user
.Rhistory
.RData
.Ruserdata
.git
.ipynb_checkpoints
.Rproj.user
Code/.ipynb_checkpoints
Code/.RData
Code/.Rhistory
Code/analysis.nb.html
Code/analysis.nb-Cuihuar.html
Code/analysis.Rmd
Code/analysis_clean.nb.html
Code/MI_aggregate.do
Code/MI_analysis.do
Code/MI_make.do
Code/MI_population.do
Code/nibrs_srs_vcount_1994_2016.csv
Code/reporting_standards.ipynb
Code/syg_mi.ipynb
Data
Figures
Meetings
Presentations
References
Tables
Writeup
.RDataTmp
readme.txt
SYG-MI.Rproj
